body{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
}
main{
    text-align: center;
    grid-column: 2;
}


.widgets{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
}

.left{
    text-align: left;
    margin-left: 10px;
}

.right{
    text-align: right;
    margin-right: 10px;
}